/*css da biqueira
 /* Letra dos cds de Rock*/
 h1{font-family: Chiller;}
 h2{font-family: Chiller;}
 h3{font-family: Chiller;}
 h4{font-family: Chiller;}
 h5{font-family: Chiller;}
 h6{font-family: Chiller;}
 
 .nav-scroller {
     position: relative;
     z-index: 2;
     height: 2.75rem;
     overflow-y: hidden;
   }
   
   .nav-scroller .nav {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: nowrap;
     flex-wrap: nowrap;
     padding-bottom: 1rem;
     margin-top: -1px;
     overflow-x: auto;
     text-align: center;
     white-space: nowrap;
     -webkit-overflow-scrolling: touch;}
